{% extends 'base.html.twig' %}



{% block body %}

    <div class="container home-page">
        <aside class="sidebar">
            <a class="link create-btn" href="{{ path('app_register') }}">{{ create }}</a>
            <a class="link create-btn" href="{{ path('app_login') }}">{{ login }}</a>
        </aside>

        <div class="home-content">
            <h2>{{ text }}</h2>
        </div>
    </div>

{% endblock %}