{{ form_start(form) }}

<div class="custom-content-class">
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
