{{ form_start(form) }}

<div class="custom-content-class">
    {{ form_label(form.content) }}
    <p class="f">{{ form_widget(form.content) }}</p>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
